#spin {
  color:red;
}
#spin:after {
  content:"";
  animation: spin 30s linear infinite;
}
@keyframes spin {
  0% { content:"Freelancer"; }
  10% { content:"Developer"; }
  20% { content:"AI/ML Expert"; }
  30% { content:"Competitive Programmer"; }
  40% { content:"Freelancer"; }
  50% { content: "Developer"; }
  60% { content: "AI/ML Expert"; }
  to { content: "Competitive Programmer"; }
 
}
